extends layout

block content
  h1 Profil de #{nom}

  p Date aujourd'hui : #{aujourdhui.getDate()}/#{aujourdhui.getMonth()}/#{aujourdhui.getFullYear()} à #{aujourdhui.getHours()}:#{aujourdhui.getMinutes()}

  h2 Invitations
  each invitation in invitations
      <li>Invitation pour le #{invitation.date.getDate()}/#{invitation.date.getMonth()}/#{invitation.date.getFullYear()} à #{invitation.date.getHours()}:#{invitation.date.getMinutes()} <a href="parties/#{invitation.id}">Accepter</a> ou <a href="">Refuser</a></li>
  <h2><a href="">Créer une partie</a></h2>
  <a href="/carte/creer">Créer une carte</a>
  <a href="/connexion">Se déconnecter</a>


